name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: rustup target add wasm32-wasi && cargo build --verbose
    - name: Run simple test
      run: cargo test --all -- --nocapture
